/*RESETS*/

.header, .header-content, .logo, body, p, div {
margin: 0;

}

ul {
    padding: 0;
}

/*FONTS*/

@font-face{
    font-family: 'truckin';
    src: url('./assets/Fonts/truckin.ttf') format('truetype');
}
@font-face{
    font-family: 'maccos_light';
    src: url('./assets/Fonts/maccos_light.otf') format('opentype');
}

@font-face{
    font-family: 'albaSuper';
    src: url('./assets/Fonts/alba_super.ttf') format('truetype');
}

@font-face{
    font-family: 'moscoso';
    src: url('./assets/Fonts/moscoso.ttf') format('truetype');
}
.truckin {
    font-family: 'truckin';
    font-size: 50px;
    color: #6fa692;
}
.maccos {
    font-family: 'maccos_light';
    font-size: 50px;
    color: #d99e32;
}

.albaSuper {
    font-family: 'albaSuper';
    font-size: 50px;
    color: #bf3326;
}

.moscoso {
    font-family: 'moscoso';
    font-size: 50px;
    color: #6fa692;
}

/*MOBILE VIEW*/
body {
    background-color: #f2e2ce;
}

.header {
    background-color: #6fa692;
}

.header-content{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px;
}

.logo{
    font-family: 'moscoso';
}

.nav-list{
display: flex;
list-style: none;
}

.nav-item {
    margin-left: 5px;
}

.nav-link {
    text-decoration: none;
}
.nav2, .nav3 {
    display: none;
}


main {
flex: 1;
margin: 0 30px;
}

/* .vinyl-container, .book-container, .game-container {
    width: 431px;
    height: 124px;
} */

.cart {

    border: 2px solid black;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex-direction: column-reverse;
    display: none;
  
}

  .credit-form, .payment-button-container, .cash-form, .credit-receipt{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
}
.credit-form-container, .payment-options, .cash-form-container, .credit-receipt-container{
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  /* .book-container, .vinyl-container, .game-comtainer {
      
    
  } */

.item-box {
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    border: 1px solid black;
    padding: 2px;
    
}

 .p-price {
     margin-left: 10px;

 }



.vinyl-box, .book-box, .game-box {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex: 2;

}

.para-button {
display: flex;
flex-direction: column;
justify-content: center;
position: relative;
width: 100px;
}

li {
    list-style: none;
}

.button{
    border-radius: 15px;
    background-color: #40180f;
    padding: 5px;
    font-family: 'albaSuper';
    color: white;
    /* width: 50%; */
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    position: static;

}



.picture {
    height: 100px;
    width: 100px;
}

.music {
    background-image: url(./assets/Background/vinylback2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
    font-family: 'albaSuper';
    color: white;
    text-align: center;
    font-size: x-large;
}


.book {
    background-color: #d99e32;
    font-family: 'albaSuper';
    text-align: center;
    font-size: x-large;

    
}


.game {
background-color: aqua;
font-family: 'albaSuper';
text-align: center;
font-size: x-large;

}

footer {
    display: none;
}



@media only screen and (min-width: 768px) {
 body {
     background-image: url(./assets/3d-diagonal-paper-stripes-retro-wallpaper-vector.jpg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

 }
main {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;
    
}

.nav2, .nav3 {
    display: contents;
}

.cart {
    display: flex;
    background-color: coral;
    justify-content: flex-end;
    margin: 40px 30px 0px 0px;
    width: 200px;
}

.bought-items {
    background-color: white;
}
.music, .book, .game {
    margin-top: 40px;
}



}



